<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Adresses</title>
  <meta http-equiv="Content-Type" content="text/html ; charset=UTF-8" />

  <link th:href="@{/bootstrap/css/bootstrap-grid.min.css}"
        rel="stylesheet" media="screen"/>


</head>
<body>


  <div th:replace="fragments"></div>

  <form action="/meteo" method="post">
    <div>
      <label for="address">Please input your adress :</label>
      <input name="address" id="address">
    </div>
    <div>
      <button>Get the weather at the given address !</button>
    </div>
  </form >


</body>
</html>